body{
    background-color: rgb(214, 206, 206);
    font-family: 'helvetica neue', Arial, Helvetica, sans-serif;
    margin:0;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}




#navigation {
    font-size: 1.8em;
    float: left;
    margin-right: 2em;
    text-decoration: none;
    color: white;
    font-family: arial, helvetica, sans-serif;
    margin-bottom: 1em;
    
  }
  
  #navigation a:link,
  #navigation a:visited,
  #navigation a:active {
    text-decoration: none;
    color: white;
  }
  
  #navigation a:hover {
    color: #000066;
    background-color: #ffffff;
  }
  
  #navigation ul#mainnav li a {
    color: #006;
    display: block;
    background-color: #ccd;
    border-top: 1px none #333;
    border-right: 1px solid #333;
    border-bottom: thin dotted #333;
    border-left: 5px solid #333;
    text-decoration: none;
    padding: 2px 2px 2px 0.5em;
  }
  
  #navigation ul#mainnav li a:hover {
    color: #fff;
    background-color: #006;
    border-top: 1px outset #333;
    border-right: 1px outset #333;
    border-bottom: 1px outset #333;
    border-left: 5px outset #333;
  }
  
  #navigation ul#mainnav {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #navigation ul#mainnav li {
    margin: 0;
    border-top: 1px none #333;
  }
  
  #navigation #mainnav #iamhere a,
  #navigation #mainnav #iamhere a:hover {
    background-color: white;
    color: #006;
    border-top: 1px outset #333;
    border-right: 1px outset #333;
    border-bottom: 1px outset #333;
    border-left: 5px outset blue;
  }

 

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
    margin-top: 4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    display: flex;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: right;
    width: 100%;
    max-width: 980px;
    
    flex-wrap: wrap;
    margin-right: 2rem;
  }
  
  

  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  
.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  
  grid-template-areas:
    '....... header header'
    'sidebar content content'
    'footer  footer  footer';
  
  color: #444;
}

.box {

  padding: 10px;
  font-size: 90%;
}

.header,
.footer {
  background-color: #999;
 
   
}
